.bottom{
  z-index: 9;
  background: #E8841E;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
.bottom-item{
  float: left;
  margin-right: 60px;
  margin-left: 60px;
}
.bottom-icon{
  max-width: 80px;
}
