.top{
  z-index: 9;
  background: #37A54A;
  width: 100%;
  position: fixed;
  top: 0px;
}
.top-item{
  float: left;
  margin-right: 60px;
  margin-left: 60px;
  cursor: pointer;
}
.top-icon{
  max-width: 80px;
}