@mixin center($radius){
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
   -ms-border-radius: $radius;
}
.pub{
  padding:10px;
  width: 95%;
  height: auto;
  background: #E3E3E4;
  font-family: 'Quando', serif;
  @include center(10px);
  h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 110px;
  }
  h2{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
  }
  margin-top:10px;
  margin-bottom:10px;
}
.pub-head{
  height: 110px;
}
.pub-avatar{
  float: left;
  width:100px;
}
.content{
  text-align: center;
}
.img-container{
  max-width:95%;
  height: 350px;
  overflow: hidden;
  img{
    width: 100%
  }
}
.feat-img{
  max-width: 95%;
  @include center(10px);
}
